@import url('https://fonts.googleapis.com/css?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    margin-bottom: 3rem;
}

/*-------------- Images*/
.background-image img {
height: auto;
width: 100%;
}

/*Footer*/
body {
    padding-bottom: 1rem;
}

html {
  position: relative;
  min-height: 100%;
}

.footer{
    height: 4.5rem;
    background-color: rgba(52,58,64,255);
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}

.footer-links a:hover {
border-bottom : 1px solid grey;
}

.footer a {
color : rgba(136,149,148,255);
text-decoration: none;
font-size : 25px;
font-weight : 100;
display: inline-block;
}
 

/* Links */
.contact-links a {
color : black;
text-decoration : none;
font-size : 25px;
font-weight : 400;
list-style: none;
}

.contact-links a:hover {
border-bottom : 1px solid black;
}

.active {
border-bottom : 1px solid #ffffff;
} 
 
/* List Items */

.contact-links ul {
list-style: none;
padding-left: 1rem;  
}
.work-history ul {
list-style: none;
font-weight : 400;
color : black;
font-size : 20px;
padding-bottom : 2.5rem;
padding-left: 1rem;
margin-bottom: 3rem;
}

.index-list{
    list-style: none;
    text-align: center;
}

.personal-details ul{
list-style: none;
font-weight : 400;
color: black;
font-size : 20px;
margin-bottom: 1rem;
padding-left: 1rem;
}

/* Section Headings */
.section-heading{
    text-align: center;
}

/* Collaboration Form */
.center-form{
    margin-bottom: 2rem;
}
